<div li-block="Option 1" class="option_item">
                    
                    <div>
{{ block.settings.text_text }}
</div>

                    
                    <div li-content-for-blocks-2="">
{% content_for 'blocks' %}
</div>

                    
                </div>
     {% schema %} {"name":"Option 1","blocks":[{"type":"option-1"},{"type":"option-2"},{"type":"option-3"},{"type":"@app"}],"settings":[{"id":"text_text","type":"text","label":"Text","default":"Option 1"}],"presets":[{"name":"Option 1"}]} {% endschema %}