<div li-block="Option 2" class="option_item">
                    
                    <div>
{{ block.settings.text_text }}
</div>

                    
                </div>
     {% schema %} {"name":"Option 2","settings":[{"id":"text_text","type":"text","label":"Text","default":"Option 2"}],"presets":[{"name":"Option 2"}]} {% endschema %}