<div li-block="Option 3" class="option_item">
                    
                    <div>
{{ block.settings.text_text }}
</div>

                    
                </div>
     {% schema %} {"name":"Option 3","settings":[{"id":"text_text","type":"text","label":"Text","default":"Option 3"}],"presets":[{"name":"Option 3"}]} {% endschema %}