<div class="padding-global padding-section-medium"><div class="container-large"><div class="headline-wrapper"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
<img data-attribute="test" alt="{{ section.settings.image_bild.alt }}" src="{{ section.settings.image_bild | img_url: 'master' }}" loading="lazy">
<a data-attribute="test" href="{{ section.settings.url_test }}" class="w-button"> Button Text </a>
</div><div class="blog_component"><div class="blog_featured-item"><div li-case="product.type">
{% case product.type %}
{% when 'Health' %} 
<div li-when="'Health'" class="option_item">
<div>Option 1</div></div>
{% when 'Love' %} 
<div li-when="'Love'" class="option_item">
<div>Option 2</div></div>
{% else %} 
<div li-when="" class="option_item">
<div>Option 3</div></div>
{% endcase %}
</div>

</div></div></div></div> {% schema %} {"tag":"section","name":"Case","class":"section_blog","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"li-case\/li-when"},{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"url_test","type":"url","label":"Test"}],"presets":[{"name":"Case","category":"Liquify","blocks":[]}]} {% endschema %}