<div class="padding-global padding-section-medium"><div class="container-large"><div class="headline-wrapper"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
</div><div class="blog_component">{% for block in section.blocks %}
    {% if block.type == "produkt" %}
                    <div li-block="Produkt" class="blog_featured-item">
                                    
                                    <div>{% assign product = all_products[block.settings.product_featured_product] %} {% render 'product_item', product: product %}
</div>
                                    
                            </div>
            {% endif %}
{% endfor %}
</div></div></div> {% schema %} {"tag":"section","name":"Product","class":"section_blog","blocks":[{"name":"Produkt","type":"produkt","settings":[{"id":"product_featured_product","type":"product","label":"Featured-Product"}]}],"settings":[{"id":"text_headline","type":"text","label":"Headline","default":"li-settings:product"}],"presets":[{"name":"Product","category":"Liquify","blocks":[{"type":"produkt"}]}]} {% endschema %}